div {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
  background: #5fff87;
  border: 1px solid #005f00;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
  box-shadow: inset -2px -2px 10px #606060;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #005f00;
  border-radius: 3px;
  border-left: 2px solid #008700;
  border-right: 2px solid black;
  border-top: 2px solid #008700;
  border-bottom: 2px solid black;
  box-shadow: inset -1px -1px 10px #121212;
}

::-webkit-scrollbar-thumb:hover {
  background: #008700;
  border-radius: 3px;
  border-left: 2px solid #00af00;
  border-right: 2px solid black;
  border-top: 2px solid #00af00;
  border-bottom: 2px solid black;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;

}

header {
  width: 100%;
  height: 45px;
  position: fixed;
  margin-top: 1px;
  left: 0;
  top: 0;
  background: linear-gradient(#20222b 50%, 50%, #1b1c24, 85%, #20222b);
  border-top: 1px solid #3a3a3a;
  border-bottom: 1px solid #121212;
  z-index: 100;
}

#main {
  display: none;
}

.navbar-brand {
  width: 150px;
  padding-top: 4px;
  opacity: 1;
  animation-name: menu-opacity;
  animation-duration: 3s;
}

.logo {
  width: 27px;
  height: 27px;
  border: 1px solid #303030;
  border-radius: 3px;
  margin-left: 7px;
  margin-right: 2px;
}

.myname {
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  color: 	#3a3a3a;
  text-shadow: -4px 6px 4px #121212;
}

nav {
  width: 800px;
}

.navbar-nav {
  width: 700px;
  margin-left: 140px;
  margin-top: 2px;
  position: relative;
}

.nav-item {
  background: linear-gradient(#20222b 55%, 54%, #1b1c24);
  height: 27px;
  border-left: 1px solid #1c1c1c;
  border-right: 1px solid #1c1c1c;
  border-top: 2px solid #303030;
  border-bottom: 2px solid #1c1c1c;
  border-radius: 6px;
  padding-top: 4px;
  position: relative;
  transition-property: color;
  transition: 0.3s;
}

.nav-item:focus,
.nav-item:hover,
.nav-item:active {
  background: linear-gradient(#20222b 50%, 49%, #1b1c24);
  border-left: 1px solid #303030;
  border-right: 1px solid #303030;
  border-top: 2px solid #1c1c1c;
  border-bottom: 2px solid #303030;
  border-radius: 6px;
  padding-top: 4px;
}

.admin-menu a {
  position: absolute;
  top: 13px;
  right: 135px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  color: #008700;
  opacity: 70%;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  color: #008700;
  padding: 0;
  margin: 0;
  position: relative;
  transition-property: color;
  transition: 0.5s;
}

.nav-off {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  color: #585858;
  padding: 0;
  margin-right: 8px;
  margin-left: 8px;
}

.nav-item-off {
  height: 27px;
  background: linear-gradient(#20222b 50%, 49%, #1b1c24);
  border-left: 1px solid #303030;
  border-right: 1px solid #303030;
  border-top: 2px solid #1c1c1c;
  border-bottom: 2px solid #303030;
  border-radius: 6px;
  padding-top: 4px;
}

.navbar-nav li {
   margin-right: 9px;
 }

.admin-menu a:hover,
.nav-link:hover {
  color: #87ff5f;
  font-size: 11px;
  text-shadow: 0px 0px 10px #00ff00;
}

.decor-line {
  width: 100%;
  height: 15px;
  background: linear-gradient(#000600 1%, 20%, #0000);
}

/* --------- Search --------- */

.search-container {
  position: fixed;
  border-radius: 8px;
  right: 0;
  top: 0;
  margin-top: 7px;
  margin-right: 3px;
  z-index: 2;
}

::-webkit-input-placeholder { color: #606060; font-size: 13px; }
          :-moz-placeholder { color: #808080; font-size: 13px; }
         ::-moz-placeholder { color: #808080; font-size: 13px; }
     :-ms-input-placeholder { color: #808080; font-size: 13px; }

.form {
  width: 126px;
}

.form svg {
  color: #008700;
  margin-right: 2px;
}

input {
  width: 100px !important;
  height: 32px;
  background: #000600;
  border-left: 1px solid #1c1c1c;
  border-right: 1px solid #3a3a3a;
  border-top: 2px solid #121212;
  border-bottom: 2px solid #3a3a3a;
  border-radius: 8px;
  padding-bottom: 3px;
  padding-left: 8px;
  outline: none;
  position: relative;
  transition: 0.5s;
}

input:focus,
input:hover {
  width: 160px !important;
  height: 32px;
  background: #bcbcbc;
  border-left: 1px solid #052602;
  border-right: 1px solid #052602;
  border-top: 2px solid #052602;
  border-bottom: 2px solid #3a3a3a;
  border-radius: 8px;
  margin-left: -60px;
}

/* ---------- Menu --------- */

.container-menu {
  width: 190px;
  border-left: 2px solid #008700;
  padding: 0;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 50px;
  opacity: 1;
  animation-name: menu-opacity;
  animation-duration: 4s;
}

.item {
  height: 40px;
}

.menu a {
  text-decoration: none;
  color: #008700;
  font-size: 20px;
  outline: none;
  position: relative;
  transition: 0.3s;
}

.menu svg {
  color: #1c1c1c;
  text-decoration: none;
  margin-bottom: 3px;
}

.menu a:hover {
  position: relative;
  color: #87ff5f;
  font-size: 20px;
  font-style: bold;
  text-shadow: 0px 0px 15px #87ff5f;
  margin-left: 5px;
}

/* ------ Content ------- */

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-content {
  overflow: auto;
  text-decoration: none;
  background: #080808;
  width: 805px;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 10px;
  border-left: 1px solid #121212;
  border-right: 1px solid #121212;
  border-top: 3px solid #1c1c1c;
  border-bottom: 1px solid #121212;
  border-radius: 10px;
  padding: 7px;
}

.container-content-tags {
  text-decoration: none;
  background: #080808;
  width: 805px;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 10px;
  border-left: 1px solid #121212;
  border-right: 1px solid #121212;
  border-top: 3px solid #1c1c1c;
  border-bottom: 1px solid #121212;
  border-radius: 10px;
  padding: 7px;
}

.title {
  font-size: 17px;
  color: #008700;
  margin: 0 0 0px 5px;
}

.title2 {
  font-size: 15px;
  color: #005f00;
  margin: 0 0 0px 5px;
}

.container-content a,
.container-content-tags a {
  text-decoration: none;
  font-size: 14px;
  color: #767676;
  margin: 3px;
}

.container-content a:hover,
.container-content-tags a:hover {
  color: #87ff5f;
  text-shadow: 3px 0px 15px #00ff00;
}

.description {
  font-size: 13px;
  color: #bcbcbc;
  margin-left: 5px;
  margin-bottom: 7px;
}

.container-content svg {
  color: #005f00;
  text-decoration: none;
  margin-bottom: 2px;
}

/* ----- <pre> colors ----- */
li::marker {
  width: 40px;
  font-size: 12px;
  color: #262626;
  background: #080808 !important;
}

.com { color: #606060 !important; }
.kwd { color: #ffd75f !important; font-weight: bold !important; }
.typ { color: #005fff !important; font-weight: bold; }
.pln { color: #008787 !important; }
.pun { color: #87afff !important; }

.prettyprint {
  width: 788px !important;
  height: 492px !important;
  margin: 0 auto !important;
  padding: 0 0 0 15px !important;
  border-radius: 7px;
  border-left: 1px solid #121212;
  border-right: 1px solid #121212;
  border-top: 2px solid #121212;
  border-bottom: 1px solid #121212;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8, li.L9 {
  list-style-type: decimal !important;
  padding-left: 5px !important;
}

li.L0, li.L2, li.L4, li.L6, li.L8 {
  list-style-type: decimal !important;
  background: #000700 !important;
  padding-left: 5px !important;
}

code {
  font-size: 12px !important;
  margin-top: -20px;
}

.code-text {
  font-size: 13px;
  line-height: 17px;
}

@media screen and (max-width: 960px) {
  .myname { display: none; }

  nav {
    width: 700px;
  }

  .navbar-nav {
    width: 670px !important;
    margin-left: 41px !important;
  }

  .admin-menu a,
  .nav-off,
  .nav-link {
    font-size: 10px !important;
  }

  .navbar-nav li {
     margin-right: 4px;
   }

  .admin-menu a:hover,
  .nav-link:focus,
  .nav-link:hover,
  .nav-link:active {
    font-size: 10px;
  }

  .container-content,
  .container-content-tags {
    width: 700px;
  }

  .prettyprint {
      width: 680px !important;
      height: 490px !important;
  }
}

@media screen and (max-width: 780px) {

  .navbar,
  .navbar-brand {
    display: none;
  }

  .content {
    margin-left: 10px;
    margin-right: 10px;
  }

    #main {
    display: inline-block !important;
    height: 30px !important;
    margin-left: 7px;
    margin-top: 7px;
  }

  .menu-btn-menu {
    display: inline-block !important;
    width: 60px;
    height: 30px !important;
    margin-left: 8px;
    padding-left: 8px;
    padding-top: 1px;
    background: linear-gradient(#20222b 55%, 54%, #1b1c24);
    border-left: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
    border-top: 2px solid #303030;
    border-bottom: 2px solid #1c1c1c;
    border-radius: 6px;
    position: relative;
    transition-property: color;
    transition: 0.3s;
  }

  .menu-link-min {
    display: inline-block;
  }

  .menu-btn-menu:hover,
  .menu-btn-menu:active {
    background: linear-gradient(#20222b 50%, 49%, #1b1c24);
    border-left: 1px solid #303030;
    border-right: 1px solid #303030;
    border-top: 2px solid #1c1c1c;
    border-bottom: 2px solid #303030;
    border-radius: 6px;
  }

  .menu-btn {
    display: inline-block !important;
    padding-left: 2px;
    padding-top: 1px;
    margin-right: 2px;
    width: 63px;
    height: 28px;
    background: linear-gradient(#20222b 45%, 60%, #1b1c24);
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
    border-top: 2px solid #1c1c1c;
    border-bottom: 1px solid #303030;
    border-radius: 14px;
  }

  .menu-btn svg {
    color: #008700;
    margin-left: 2px;
    opacity: 70%;
  }

  .menu-btn svg:hover {
    color: #00af00;
    text-shadow: 0px 0px 10px #00ff00;
  }

  .menu-link-menu {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #008700;
    position: relative;
    transition-property: color;
    transition: 0.3s;
  }

  .menu-link-menu:focus,
  .menu-link-menu:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #87ff5f;
    text-shadow: 0px 0px 10px #00ff00;
  }

  .container-menu {
    margin-top: 150px !important;
    margin-bottom: 30px !important;
  }

  .container-content,
  .container-content-tags {
    width: 100%;
  }

  .prettyprint {
      width: 500px !important;
      height: 460px !important;
  }

  ::marker,
  code {
    font-size: 12px !important;
    white-space: pre;
  }
}

@media screen and (max-width: 420px) {

  .navbar,
  .navbar-brand { display: none; }

  .content {
    margin-left: 10px;
    margin-right: 10px;
  }

  #main {
    display: block !important;
  }

  .prettyprint {
      width: 305px !important;
      height: 460px !important;
  }

  ::marker,
  code {
    font-size: 12px !important;
    white-space: pre;
  }
}

.view_port {
  margin-top: -3px;
  background-color: #1b1c24;
  height: 3px;
  width: 100%;
  overflow: hidden;
}

.moving-line {
  margin-left: -100%;
  background-color: #005f00;
  background-image: -webkit-linear-gradient(    left, rgba( 27,28,36,0.9 ) 25%, rgba( 27,28,36,0.1 ) 50%, rgba( 27,28,36,0.9 ) 75%);
  background-image:    -moz-linear-gradient(    left, rgba( 27,28,36,0.9 ) 25%, rgba( 27,28,36,0.1 ) 50%, rgba( 27,28,36,0.9 ) 75%);
  background-image:      -o-linear-gradient(    left, rgba( 27,28,36,0.9 ) 25%, rgba( 27,28,36,0.1 ) 50%, rgba( 27,28,36,0.9 ) 75%);
  background-image:         linear-gradient(to right, rgba( 27,28,36,1 ) 40%, rgba( 27,28,36,0 ) 50%, rgba( 27,28,36,1 ) 60%);
  color: white;
  height: 100%;
  width: 100%;
  -webkit-animation: 4s linear 0s 2 alternate move_line;
     -moz-animation: 4s linear 0s 2 alternate move_line;
       -o-animation: 4s linear 0s 2 alternate move_line;
          animation: 5s linear 0s 2 alternate move_line;
}

/* ------ animation ------ */

@keyframes menu-opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes move_line { from { margin-left:-100%; } to { margin-left:100%; }  }
   @-moz-keyframes move_line { from { margin-left:-100%; } to { margin-left:100%; }  }
     @-o-keyframes move_line { from { margin-left:-100%; } to { margin-left:100%; }  }
        @keyframes move_line { from { margin-left:-100%; } to { margin-left:100%; }  }
